.position {
    padding-top: 10px;
    padding-left: 600px;
}

.p {
    background: beige;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid chocolate;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}